<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-pink scrolling-navbar" [containerInside]="true">
    <logo>
        <a class="logo navbar-brand" href="#"><strong>NikNok</strong></a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active waves-light" mdbRippleRadius>
                <a class="nav-link">Home <span class="sr-only">(current)</span></a>
            </li> -->
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link" [routerLink]="['products']"> Products </a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link" [routerLink]="['categories']"> Categories </a>
            </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link"><i class="fa fa-instagram"></i></a>
            </li>
        </ul>
    </links>
  </mdb-navbar>
  <!-- Main -->
  <main>
    <div class="container" style="height:1300px;">
        <router-outlet></router-outlet>
    </div>
  </main>
  